<nav class="navbar navbar-expand-lg bg-secondary">

    <div class="container-fluid">

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item mx-4">
                    <a href="{% url 'home' %}" class="btn btn-light">home</a>
                </li>
                <li class="nav-item mx-4">
                    <a href="{% url 'categorias:listar_categorias' %}" class="btn btn-light">listar</a>
                </li>
            </ul>
        </div>

    </div>

</nav>

